@import "./assets/css/weather-icons.css";
@import "./assets/css/WeatherScreen.css";
@import "./assets/css/VideoEmbedded.css";
@import "./assets/css/AlertScreen.css";

/** the global defaults **/
* {
   box-sizing: border-box;
}

:root {
   font-size: 16px;
}

body {
   overflow: hidden;
   padding: 0;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.container {
   width: 100%;
   height: 100%;
}

.row {
   display:flex;
   width:100vw;
   height:100vh;
   flex-wrap: wrap;
   justify-content: flex-start;
}

.portrait {
   transform: rotate(90deg) translateY(-100%);
   transform-origin: top left;
}

.portrait--sizes {
   width:100vh;      /* because we rotate we switch height and width */
   height:100vw;     /* because we rotate we switch height and width */
}

.row--element {
   width:100%;
   height:50%;
}

.stroke-text {
   text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4),
   1px -1px 0 rgba(0, 0, 0, 0.4),
   -1px 1px 0 rgba(0, 0, 0, 0.4),
   1px 1px 0 rgba(0, 0, 0, 0.4);
}



